// /* CSS HEX */
// --big-dip-oruby: #962040ff;
// --timberwolf: #D3D1CEff;
// --lavender-gray: #B4B1C6ff;
// --green-blue-crayola: #0885DBff;

// /* CSS HSL */
// --big-dip-oruby: hsla(344, 65%, 36%, 1);
// --timberwolf: hsla(36, 5%, 82%, 1);
// --lavender-gray: hsla(249, 16%, 74%, 1);
// --green-blue-crayola: hsla(204, 93%, 45%, 1);

/* SCSS HEX */
$testred: #b0254b;
$big-dip-oruby: #962040ff;
$timberwolf: #d3d1ceff;
$lavender-gray: #b4b1c6ff;
$green-blue-crayola: #0885dbff;

/* SCSS HSL */
$big-dip-oruby: hsla(344, 65%, 36%, 1);
$timberwolf: hsla(36, 5%, 82%, 1);
$lavender-gray: hsla(249, 16%, 74%, 1);
$green-blue-crayola: hsla(204, 93%, 45%, 1);

/* SCSS RGB */
$big-dip-oruby: rgba(150, 32, 64, 1);
$timberwolf: rgba(211, 209, 206, 1);
$lavender-gray: rgba(180, 177, 198, 1);
$green-blue-crayola: rgba(8, 133, 219, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(
  0deg,
  #962040ff,
  #d3d1ceff,
  #b4b1c6ff,
  #0885dbff
);
$gradient-right: linear-gradient(
  90deg,
  #962040ff,
  #d3d1ceff,
  #b4b1c6ff,
  #0885dbff
);
$gradient-bottom: linear-gradient(
  180deg,
  #962040ff,
  #d3d1ceff,
  #b4b1c6ff,
  #0885dbff
);
$gradient-left: linear-gradient(
  270deg,
  #962040ff,
  #d3d1ceff,
  #b4b1c6ff,
  #0885dbff
);
$gradient-top-right: linear-gradient(
  45deg,
  #962040ff,
  #d3d1ceff,
  #b4b1c6ff,
  #0885dbff
);
$gradient-bottom-right: linear-gradient(
  135deg,
  #962040ff,
  #d3d1ceff,
  #b4b1c6ff,
  #0885dbff
);
$gradient-top-left: linear-gradient(
  225deg,
  #962040ff,
  #d3d1ceff,
  #b4b1c6ff,
  #0885dbff
);
$gradient-bottom-left: linear-gradient(
  315deg,
  #962040ff,
  #d3d1ceff,
  #b4b1c6ff,
  #0885dbff
);
$gradient-radial: radial-gradient(#962040ff, #d3d1ceff, #b4b1c6ff, #0885dbff);
