* {
  box-sizing: border-box;
  font-family: "Addington";
}

ul {
  list-style: none;

  li {
    a {
      text-decoration: none;
    }
  }
}

@font-face {
  font-family: "Baddest";
  src: url("../fonts/BADDEST.ttf");
}

@font-face {
  font-family: "Addington";
  src: url("../fonts/AddingtonCF-Thin.otf");
}
