.Container {
  position: relative;
  top: 0;
  height: calc(100vh + 100px);
  width: 100%;
}

.Image {
  height: 100%;
  width: 100%;
  background-image: url("../../img/elvis_backdrop.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
