@import "../../globalStyles/colors";
@import "../../globalStyles/breakpoints";

.Container {
  position: relative;
  top: 0;
  height: 800px;
  width: 100%;
  z-index: 999;
}

.Backdrop {
  @include for-breakpoint-1040 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
  }
}

.TextContainer {
  padding: 0 100px;
  position: relative;
  top: 200px;
  height: 400px;
  width: 100%;
  z-index: 999;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  // border: 1px solid red;

  @include for-breakpoint-640 {
    padding: 0 50px;
  }

  @include for-breakpoint-500 {
    height: 500px;
  }

  @include for-breakpoint-400 {
    top: 100px;
  }
}

.Dash {
  position: absolute;
  top: 30px;
  left: 100px;
  width: 100px;
  height: 5px;
  background: $timberwolf;
  border-radius: 25px;
  z-index: 99;

  @include for-breakpoint-640 {
    left: 50%;
    transform: translateX(-50%);
  }
}

.Text {
  height: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  // border: 1px solid blue;

  @include for-breakpoint-640 {
    align-items: center;
    text-align: center;
  }

  h1 {
    font-size: 3rem;
    font-family: "Baddest";
    word-spacing: 5px;
    letter-spacing: 5px;

    @include for-breakpoint-640 {
      font-size: 2.5rem;
    }

    @include for-breakpoint-500 {
      font-size: 2rem;
    }
  }

  h2 {
    width: 50%;
    font-size: 2rem;
    font-family: "Baddest";
    word-spacing: 5px;
    letter-spacing: 5px;
    color: $timberwolf;

    @include for-breakpoint-1280 {
      width: 70%;
    }

    @include for-breakpoint-780 {
      width: 100%;
      font-size: 1.7rem;
    }

    @include for-breakpoint-640 {
      font-size: 1.4rem;
    }

    @include for-breakpoint-640 {
      font-size: 1rem;
    }
  }
  h1,
  p {
    mix-blend-mode: difference;
    color: $testred;
  }

  div {
    // border: 1px solid red;

    button {
      height: 75px;
      width: 175px;
      font-size: 1.2rem;
      cursor: pointer;
      border-radius: 50px;

      @include for-breakpoint-780 {
        height: 50px;
        width: 150px;
      }
    }

    button:focus {
      outline: none;
    }

    a:first-of-type {
      button {
        background: transparent;
        border: 1px solid $timberwolf;
        color: $timberwolf;
        margin-right: 50px;
        transition: all 0.3s ease-in-out;

        @include for-breakpoint-640 {
          margin: 20px;
        }
      }
    }

    a:first-of-type {
      button:hover {
        background: $timberwolf;
        color: black;
        transition: all 0.3s ease-in-out;
      }
    }

    a:nth-of-type(2) {
      button {
        background: $testred;
        color: $timberwolf;
        border: 1px solid black;
        margin-right: 50px;
        transition: all 0.3s ease-in-out;
        @include for-breakpoint-640 {
          margin: 20px;
        }
      }
    }

    a:nth-of-type(2) {
      button:hover {
        background: $timberwolf;
        color: black;
        transition: all 0.3s ease-in-out;
      }
    }
  }
}

.Image,
.Image::before,
.Image::after {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;

  z-index: 10;
}
