@import "../../../globalStyles/breakpoints";

.Container {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;

  z-index: 999;
}

.ContainerOpen {
  transform: translatey(0%);
}

.ContainerClosed {
  transform: translatey(-300%);
}

.NavItems {
  position: fixed;
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: #fff;
  transition: all 0.7s ease-in-out;
  z-index: 9999;

  svg {
    position: fixed;
    top: 35px;
    left: 35px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }

  svg:hover {
    transform: rotate(600deg);
  }

  ul {
    padding: none;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}

.NavItemsOpen {
  transform: translatey(0%);
}

.NavItemsClosed {
  transform: translatey(-300%);
}

.Backdrop {
  height: 100%;
  width: 100%;
  position: fixed;
}

.BackdropOpen {
  background: rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in-out;
  z-index: 99999;
}

.BackdropClosed {
  background: transparent;
  z-index: -99;
}
