@import "../../globalStyles/colors";
@import "../../globalStyles/breakpoints";

.Container {
  position: relative;
  top: 0;
  height: 100vh;
  width: 100%;

  //   border: 1px solid red;
}

.HeaderText {
  padding: 0 100px;
  position: relative;
  top: 100px;
  left: 0;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  z-index: 99;
  // border: 1px solid #fff;

  @include for-breakpoint-780 {
    padding: 0 50px;
  }

  @include for-breakpoint-640 {
    align-items: center;
  }

  h1 {
    color: $timberwolf;
    margin: 20px 0;

    font-family: "Baddest";
    letter-spacing: 5px;
    font-size: 3rem;

    @include for-breakpoint-custom("905px") {
      font-size: 2.5rem;
    }
    @include for-breakpoint-640 {
      text-align: center;
    }

    @include for-breakpoint-500 {
      font-size: 2rem;
    }
  }
}

.Dash {
  left: 100px;
  width: 100px;
  height: 5px;
  background: $timberwolf;
  border-radius: 25px;
  z-index: 99;
}

.TextBox {
  padding: 0 100px;
  position: relative;
  top: 100px;
  left: 0;
  height: 75px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  z-index: 99;
  // border: 1px solid #fff;

  @include for-breakpoint-1040 {
    align-items: flex-start;
  }

  @include for-breakpoint-780 {
    padding: 0 50px;
  }

  @include for-breakpoint-640 {
    align-items: center;
  }

  h1 {
    font-family: "Baddest";
    letter-spacing: 5px;
    font-size: 2rem;
    color: $timberwolf;

    @include for-breakpoint-500 {
      font-size: 1.5rem;
    }

    @include for-breakpoint-400 {
      text-align: center;
    }
  }

  div {
    height: 2px;
    width: 350px;
    background: $timberwolf;

    @include for-breakpoint-500 {
      width: 100%;
    }
  }
}

.Calendar {
  padding: 20px 20px 0 0;
  position: relative;
  top: 100px;
  left: 50%;
  height: 500px;
  width: 50%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  z-index: 99;
  // border: 1px solid #fff;

  @include for-breakpoint-1040 {
    min-width: 500px;
    left: 100px;
  }

  @include for-breakpoint-780 {
    left: 50px;
  }

  @include for-breakpoint-640 {
    padding: 0;
    min-width: 0;
    left: 0;
    width: 100%;
  }
}

.Example {
  margin: 10px 0;
  padding: 0 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;

  @include for-breakpoint-1040 {
    background: rgba(0, 0, 0, 0.7);
  }

  @include for-breakpoint-500 {
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
  }

  @include for-breakpoint-custom("550px") {
    height: 150px;
    align-content: space-around;
  }

  h2,
  p {
    color: $timberwolf;

    @include for-breakpoint-custom("550px") {
      font-size: 0.8rem;
    }

    @include for-breakpoint-500 {
      font-size: 1.3rem;
      margin: 0 20px;
      padding: 0;
    }

    @include for-breakpoint-300 {
      font-size: 1rem;
    }
  }
}
