@import "../../globalStyles/colors";

.ActiveLink {
  a {
    background: $green-blue-crayola;
    padding: 5px 15px;
    border-radius: 25px;
    color: $timberwolf;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
}

.ActiveLinkDark {
  a {
    background: $timberwolf;
    padding: 5px 15px;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    color: $green-blue-crayola;
  }
}

.Link {
  height: 100%;
  width: 100%;
  ul {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;

    li {
      a {
        font-family: "Baddest";
        padding: 5px 15px;
        border-radius: 25px;
        font-size: 1.7rem;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
      }
    }

    a:hover {
      transition: all 0.3s ease-in-out;
    }
  }
}

.LinkDark {
  a {
    color: $green-blue-crayola;
  }
}
.LinkDark:hover {
  a {
    background: $green-blue-crayola;
    color: #fff;
  }
}

.LinkLight {
  a {
    color: #fff;
  }
}
.LinkLight:hover {
  a {
    background: #fff;
    color: $green-blue-crayola;
  }
}

@media screen and (max-width: 1000px) {
  .Link {
    height: 70%;
    border: 5px solid blue;

    ul {
      li,
      .ActiveLink {
        padding: 20px 60px;
      }
    }
  }
}
