@import "../../globalStyles/colors";
@import "../../globalStyles/breakpoints";

.Container {
  position: relative;
  top: 0;
  height: 400px;
  width: 100%;
  //   border: 1px solid red;
}

.TextBox {
  position: relative;
  top: 75px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  //   border: 1px solid black;

  @include for-breakpoint-500 {
    padding: 0 50px;
  }

  @include for-breakpoint-400 {
    padding: 0 20px;
  }

  @include for-breakpoint-780 {
    text-align: center;
  }

  h1 {
    margin: 15px 0;
    font-family: "Baddest";
    font-size: 3rem;
    letter-spacing: 5px;

    @include for-breakpoint-500 {
      font-size: 2.5rem;
    }

    @include for-breakpoint-400 {
      font-size: 2rem;
    }

    @include for-breakpoint-300 {
      font-size: 1.5rem;
    }
  }

  p {
    margin: 15px 0;
    font-size: 1.5rem;
    @include for-breakpoint-500 {
      font-size: 1.2rem;
    }

    @include for-breakpoint-500 {
      font-size: 1rem;
    }
  }

  button {
    background: transparent;
    color: $testred;
    border: 1px solid $testred;
    margin: 15px 0;
    height: 75px;
    width: 225px;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 25px;
    transition: all 0.3s ease-in-out;

    @include for-breakpoint-500 {
      height: 50px;
      width: 175px;
    }
  }

  button:hover {
    background: lighten($testred, 10%);
    color: #fff;
    transition: all 0.3s ease-in-out;
  }
  button:focus {
    outline: none;
  }
}
