@import "../../globalStyles/colors";

.MusicPlayer {
  margin: 0 100px;
  padding: 0 20px;
  position: relative;
  height: 150px;
  width: 50%;
  top: 150px;
  //   border-top: 1px solid $timberwolf;
  //   border-bottom: 1px solid $timberwolf;
  z-index: 99;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  div:nth-of-type(1),
  div:nth-of-type(2),
  div:nth-of-type(3),
  div:nth-of-type(4) {
    cursor: pointer;
    height: 50px;
    width: 50px;
    border: 1px solid $timberwolf;
    border-radius: 50%;
    margin-right: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;

    svg {
      color: $timberwolf;
    }
  }

  div:nth-of-type(1):hover,
  div:nth-of-type(2):hover,
  div:nth-of-type(3):hover,
  div:nth-of-type(4):hover {
    background: $timberwolf;
    transition: all 0.3s ease-in-out;

    svg {
      color: black;
    }
  }
}

.SongDetail {
  p {
    font-size: 1.5rem;
    color: $timberwolf;
  }
  span {
    font-weight: bold;
  }
}
