@import "../../globalStyles/breakpoints";

.Container {
  padding-top: 100px;
  position: relative;
  top: 0;
  height: 1300px;
  width: 100%;
  z-index: 99;
  background: #fff;
  border: 1px solid red;

  @include for-breakpoint-780 {
    height: 900px;
  }
}

.HeaderText {
  padding: 0 100px;
  position: relative;
  top: 50px;
  left: 0;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  //   border: 1px solid black;

  @include for-breakpoint-500 {
    padding: 0 20px;
  }

  h1 {
    margin: 20px 0;
    text-align: center;
    font-family: "Baddest";
    letter-spacing: 5px;
    font-size: 3rem;

    @include for-breakpoint-400 {
      font-size: 2.5rem;
    }
  }
}

.Dash {
  top: 30px;
  left: 100px;
  width: 100px;
  height: 5px;
  background: black;
  border-radius: 25px;
  z-index: 99;
}

.TextBoxOne {
  padding: 0 100px;
  position: relative;
  top: 100px;
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  border: 1px solid black;

  @include for-breakpoint-780 {
    height: 250px;
    padding: 0 50px;
  }

  @include for-breakpoint-640 {
    padding: 0 20px;
  }

  @include for-breakpoint-500 {
    height: 300px;
  }

  @include for-breakpoint-400 {
    height: 350px;
  }

  div {
    margin-right: 50px;
    height: 100%;
    width: 50%;

    @include for-breakpoint-780 {
      width: 100%;
      text-align: center;
      margin: 0;
      padding: 0;
    }
  }

  div:nth-of-type(1) {
    border: 1px solid black;

    @include for-breakpoint-780 {
      display: none;
    }
  }

  div:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;

    p {
      font-size: 1.3rem;
      line-height: 2;

      @include for-breakpoint-1280 {
        line-height: 1.5;
      }

      @include for-breakpoint-1040 {
        font-size: 1rem;
      }

      @include for-breakpoint-custom("350px") {
        font-size: 0.9rem;
      }

      @include for-breakpoint-300 {
        font-size: 0.8rem;
      }
    }

    .Dash {
      margin: 0;
      top: 30px;
      left: 100px;
      width: 100px;
      height: 5px;
      background: black;
      border-radius: 25px;
      z-index: 99;
    }
  }
}

.TextBoxTwo {
  padding: 0 100px;
  position: relative;
  top: 250px;
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  border: 1px solid black;

  @include for-breakpoint-780 {
    height: 250px;
    top: 100px;
    padding: 0 50px;
  }

  @include for-breakpoint-640 {
    padding: 0 20px;
  }

  @include for-breakpoint-500 {
    height: 300px;
  }

  @include for-breakpoint-400 {
    height: 350px;
  }

  div {
    margin-right: 50px;
    height: 100%;
    width: 50%;

    @include for-breakpoint-780 {
      width: 100%;
      text-align: center;
      margin: 0;
      padding: 0;
    }
  }

  div:nth-of-type(2) {
    border: 1px solid black;

    @include for-breakpoint-780 {
      display: none;
    }
  }

  div:nth-of-type(1) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    p {
      font-size: 1.3rem;
      line-height: 2;

      @include for-breakpoint-1280 {
        line-height: 1.5;
      }

      @include for-breakpoint-1040 {
        font-size: 1rem;
      }

      @include for-breakpoint-custom("350px") {
        font-size: 0.9rem;
      }

      @include for-breakpoint-300 {
        font-size: 0.8rem;
      }
    }

    .Dash {
      margin: 0;
      top: 30px;
      left: 100px;
      width: 100px;
      height: 5px;
      background: black;
      border-radius: 25px;
      z-index: 99;
      @include for-breakpoint-780 {
        display: none;
      }
    }
  }
}
